.container {
    top: 80px;left: 0%;right: 0%;
}
.container p {
    line-height: 35px;
}
.container > .wrap { margin: 5% 15%; }
.container li {
    line-height: 35px;
    font-size: 18px;
}
@media (max-width: 480px) {
    .container > .wrap { margin: 5%; }
    .container p { line-height: 32px; }
}
.bg-bni {
    background-color: #095e6a;
    color: #fff;
}